input {
  border: 1px solid;
}

select {
  border: 1px solid;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

span.error {
  color: red;
}

button {
  border: 1px solid;
  background: #f3f3f3;
}

.padding-xs {
  padding: 0.5rem;
}
